<%- include('../partials/header') %>

<% if (postData.post.replyTo) { %>
    <h3>reply to...</h3>
    <a href="/post/<%= postData.post.replyTo %>">
        <div class="post-mini" post-id="<%= postData.post.replyTo %>">
        </div>
    </a>
<% } %>

<% if (sessionData?.userId == postData.post.userId) { %>
    <div class="post-actions">
        <magicform action="/api/post/<%= postData.post._id %>/delete" method="POST" onresponse="goHome">
            <button class="button-danger" type="submit">delete post</button>
        </magicform>
        <form action="/post/<%= postData.post._id %>/edit" method="GET">
            <button type="submit">edit post</button>
        </form>
    </div>
<% } %>

<div class="post" post-id="<%= postData.post._id %>">
</div>

<%- include('../partials/replyForm') %>

<% if (postData.post.replies) { %>
    <% for (reply of postData.post.replies) { %>
        <a href="/post/<%= reply %>">
            <div class="post-mini" post-id="<%= reply %>">
            </div>
        </a>
    <% } %>
<% } %>

<%- include('../partials/footer') %>
