<%- include('../partials/header') %>

<div class="profile-header">

<h2>@<%= user.handle %></h2>

<% if (sessionData?.userId == user._id) { %>
    <form action="/horse/<%= user.handle %>/delete" method="POST">
        <button class="button-danger" type="submit">delete account..</button>
    </form>
    <%- include('../partials/postForm') %>
<% } %>

</div>
<div class="profile-posts">

<% if (user.posts) { %>
    <% for (post of user.posts) { %>
        <a href="/horse/<%= user.handle %>/post/<%= post %>">
            <div class="post-mini" post-id="<%= post %>">
            </div>
        </a>
    <% } %>
<% } %>

</div>
<%- include('../partials/footer') %>